pandas
numpy
scikit-learn
joblib
fastapi
uvicorn
pydantic
python-dotenv
requests
dvc
boto3
mlflow

black
flake8 
jupyter             


# Day4 packages
fastapi
sklearn.datasets
sklearn.ensemble

iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
pytest-mock==3.15.1

# Day6 packages
matplotlib
seaborn
scipy  
pytest



