pandas
numpy
scikit-learn
joblib
fastapi
uvicorn
pydantic
python-dotenv
requests
dvc
boto3
mlflow

black
flake8 
jupyter             


# Day4 packages
fastapi
scikit-learn
uvicorn
pydantic
python-dotenv

iniconfig
packaging
pluggy
Pygments
pytest
pytest-mock

# Day6 packages
matplotlib
seaborn
scipy  
pytest



